@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
html, body{
  font-family: 'Roboto Thin', sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(0, 125, 0);
}
header{
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: white;
  margin:0;
  padding: 0;
}

header div{
  /* height:100%; */
  width: 33.3vw;
  display: flex;
  margin: auto;
  text-align: center;
  /* margin: 0 auto; */
  /* border-radius: 10px; */
  /* border: 1px solid black; */
  /* display: flex; */
}

section {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

section div {
  width : 45%;
  margin: auto 0 auto 0;
  padding: 10px;
}

@media (max-width: 600px) {
  section {
    display: block
  }
  section div {
   width: 100%; 
  }
}

/* .regels {
  background-color: rgb(191, 0, 0);
  border-radius: 10px;
} */

/* unvisited link */


header {
  padding: 1em;
}

header a {
  width: 100%;
  /* background-color: red; */
  text-decoration: none;
  font-size: 2em;
  font-weight: bolder;
  transition: color 0.5s ease;
}

header img{
  height: 4em;
  padding:0;
  margin::0;
}

header a:link {
  color: black;
}

/* visited link */
header a:visited {
  color: black;
}

/* mouse over link */
header a:hover {
  color: gray;
}

/* selected link */
header a:active {
  color: black;
}

section{
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-left: 2.5%;
}

footer{
  position: fixed;
  margin-left: 1rem;
  bottom: 1rem;
  color: white;
  font-family: 'Roboto', sans-serif;
}

/* header div a {

} */
